Flask
pandas
numpy
ta-lib

aiohappyeyeballs
aiohttp
aiosignal
attrs
backtrader
bidict
blinker
cachelib
certifi
charset-normalizer
click
colorama
dateparser
Deprecated

Flask-Assets
Flask-Caching
Flask-Limiter
Flask-SocketIO
frozenlist
h11
idna
itsdangerous
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
multidict

ordered-set
packaging
propcache
pycryptodome
Pygments
python-binance
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
redis
regex
requests
rich
simple-websocket
six

typing_extensions
tzdata
tzlocal
urllib3
webassets
websocket-client
websockets
Werkzeug
wrapt
wsproto
yarl
gunicorn
