<main class="chart-container">
  {% include 'components/charts/chart-controls.html' %}

  <div class="wallet-sections">
    {% include 'components/wallet/spot-wallet.html' %} {% include
    'components/wallet/funding-wallet.html' %} {% include
    'components/wallet/coin-futures-wallet.html' %}
  </div>

  <!-- Testnet Section -->
  <div class="balance-display">
    <!-- <h3>Simulated Balance: <span id="simulated-balance">$10,000.00</span></h3> -->
  </div>

  {% include 'components/tables/positions-table.html' %}
</main>
