h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-md);
  color: var(--text-primary);
  font-weight: 600;
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-lg);
  color: var(--color-primary);
}

p {
  margin-bottom: var(--spacing-md);
}
