<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  </head>
  <body>
    <header>
      <h2>Trading Bot Chart</h2>
      <div id="container" style="width: 600px; height: 300px"></div>
      <div id="trade"></div>
    </header>
    <main>
      <div class="rsi-config">
        <h3>Configuration</h3>
        <input type="checkbox" name="" id="" />
        RSI
        <input type="text" id="rsi_length" placeholder="14" />
        OverBought
        <input type="text" id="rsi_overbought" placeholder="70" />
        OverSold
        <input type="text" id="rsi_oversold" placeholder="30" />
      </div>
    </main>
    <script>
      const binance_data = new WebSocket(
        "wss://stream.binance.com:9443/ws/btcusdt@trade"
      );

      const data_container = document.getElementById("trade");

      //   binance_data.onmessage = function (event) {
      //     console.log(event.data);
      //     const messageObject = JSON.parse(event.data);

      //     const priceElement = document.createElement("span");
      //     priceElement.textContent = messageObject.p;

      //     data_container.append(priceElement, document.createElement("br"));
      //   };
    </script>
    <script src="{{ url_for('static', filename='chart.js')}}"></script>
  </body>
</html>
